<section class="pt-5" id="profile">
    <div class="container pt-5">
        <div class="row ">
            <div class="col-md-12">
                <button class="ml-1 btn btn-danger float-right " data-toggle="modal" (click)="logout();" >Log Out</button>
                <button class=" btn btn-info float-right mr-2" data-toggle="modal" data-target="#AddNote">Add Note</button>
            </div>
            <div class="col-md-3 py-3">
                <div class="note text-center p-2 ">
                    <div class="col-md-12 p-2">
                        <i class="fas fa-ellipsis-v  float-right" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" data-toggle="modal" data-target="#Edit">Edit <i
                                        class="far fa-edit float-right text-info"></i></a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#DeleteNote">Delete <i
                                        class="far fa-trash-alt float-right text-danger"></i></a>
                            </div>
                        </div>
                    </div>
                    <h2>My Note</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio molestias earum reprehenderit
                        culpa, tenetur perspiciatis in blanditiis, a veniam velit aliquid! Deleniti blanditiis
                        asperiores tenetur consequuntur laboriosam nihil id velit.</p>
                </div>
            </div>


        </div>

    </div>

</section>
<!-- add new note -->

<div class="modal fade" id="AddNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Title" class="form-control">
                        </div>
                        <div class="col-md-12 mt-3">
                            <textarea placeholder="Add Description" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Add Note</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!----------------------------- edit note-------------------------->



<div class="modal fade" id="Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" placeholder="Title" class="form-control">
                        </div>
                        <div class="col-md-12 mt-3">
                            <textarea placeholder="Add Description" class="form-control" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Update</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!---------------------------- Delete Note--------------------------------------->


<div class="modal fade" id="DeleteNote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Are you sure</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <h5>
                                Do you really want to delete?
                            </h5>
                            <h5>
                                process cannot be undone
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info">Delete</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>